/* Login.css */
.alert {
    position: fixed;
    bottom: 20px; /* Adjust this value to change distance from bottom */
    left: 20px; /* Adjust this value to change distance from left */
    display: none;
    animation: slide-in 0.5s forwards, slide-out 0.5s forwards 4.5s;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .slide-in-bottom {
    animation: slide-in-bottom 0.5s forwards;
  }
  
  @keyframes slide-in-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
.inputTop{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
